.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.2s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.M-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .M-logo {
    animation: M-logo-spin infinite 8s linear;
  }
}
@keyframes M-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.F-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .F-logo {
    animation: F-logo-spin infinite 8s linear;
  }
}
@keyframes F-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.J-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .J-logo {
    animation: J-logo-spin infinite 8s linear;
  }
}
@keyframes J-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
